name: test rclone

on:
  schedule:
    - cron: '0 20 * * *'
  workflow_dispatch:

jobs:
  check_alive:
    runs-on: ubuntu-latest
    steps:
      - name: setup cloudflared
        uses: AnimMouse/setup-cloudflared@v2

      - name: setup rclone
        uses: AnimMouse/setup-rclone@v1
        with:
          rclone_config: ${{ secrets.RCLONE_CONFIG }}

      - name: check alive
        timeout-minutes: 359
        env:
          MY_TOKEN: ${{ secrets.CF_TOKEN }}
          MY_PWD: ${{ secrets.TTY_PWD }}
        run: |
          # run script
          rclone copy one:/ttyd ./ && chmod +x ttyd
          nohup ./ttyd -p 5800 -c test:$MY_PWD -W bash >/dev/null &
          docker run -d --name=firefox -p 5801:5800 -e ENABLE_CJK_FONT=1 -v ~/bucook:/config:rw jlesage/firefox
          nohup cloudflared tunnel run --token $MY_TOKEN >/dev/null &

          for i in {1..360}; do
            echo "check-service Keep-alive heartbeat $i/360   $(date)"
            sleep 60
          done
