name: test rclone

on:
  #schedule:
    # 注意：GitHub Action 使用的是 UTC 时间
    #- cron: '*/15 * * * *'
  workflow_dispatch:

jobs:
  check_alive:
    runs-on: ubuntu-latest
    steps:
      - name: setup cloudflared
        uses: AnimMouse/setup-cloudflared@v2

      - name: setup rclone
        uses: AnimMouse/setup-rclone@v1
        with:
          rclone_config: ${{ secrets.RCLONE_CONFIG }}

      - name: check alive
        timeout-minutes: 359
        env:
          MY_TOKEN: ${{ secrets.CF_TOKEN }}
          MY_OPEN: ${{ secrets.FF_OPEN }}
        run: |
          # run script
          rclone copy one:/bucook/ ~/bucook/
          docker run -d --name=firefox -p 5801:5800 -e FF_OPEN_URL=$MY_OPEN -v ~/bucook:/config:rw jlesage/firefox
          nohup cloudflared tunnel run --token $MY_TOKEN >/dev/null &

          for i in {1..30}; do
            echo "check-service Keep-alive heartbeat $i/30   $(date)"
            sleep 600
            docker stop firefox
            rm -rf ~/bucook/profile/cache2
            rclone copy ~/bucook/ one:/bucook/
            docker start firefox
          done
